main {
  margin: 0 auto;
  width: 80%;
}

.project-list {
  list-style-type: none;
}

.project {
  border: 1px solid black;
  float: left;
  height: 400px;
  margin-right: 2%;
  padding: 0.5em;
  width: 30%;
}
.project.highlight {
  border-color: red;
  border-width: 2px;
}

.project::before {
  content: "";
}

.tag-list {
  width: 100%;
}

.usa-label {
  display: inline-block;
  margin-bottom: 0.3rem;
  padding-bottom: 0.2rem;
  padding-top: 0.2rem;
  text-transform: capitalize;
}
